html, body {
  scroll-behavior: smooth;
/*  height: 100%;
  weight: 100%;
*/}

.navbar{
	background-color: grey ;
	padding: 1% 0;
	font-size: 1.2em;
}

/*#home{
	background: url(img/cctv2.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
	color: white;
}
*//*#about{
	background: url(img/abu.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
	color: white;
}
#service{
	background: url(img/cctv6.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size:cover;
	color: white;

}
#testimonials{
	background: url(img/cctv6.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size:cover;
	color: white;

}
*/.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1{
	font-size: 500%;
	font-weight: 700;
}
.padding{
	padding: 80px 0;
}
.padding img{
	width: 100%
}
/*#fixed {
	background: url(img/cctv.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}*/

footer{
	width: 100%;
	background-color: #7B7777;
	padding: 1% 1% 1% 1%;
	color: #fff;
/*.fab {
	padding: 15px;
	font-size: 25px;
	color: red;
}	
.fab:hover{
	color: red;
	text-decoration: none;
}
.icon {
	max-width: 200px;
}

#about{
	background: red;
}

.fab{
	color: white;
*/}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}